<!--this is the post portion-->
<div class="card">

  <div class="card-body">
    <div class="postHeader">
      <!-- <span class="name"><a [routerLink]="['/profile',firstname,lastname,email]" skipLocationChange=true> -->
      <span class="name"><a [routerLink]="['/profile']" skipLocationChange=true>
        {{firstname + " " + lastname}}</a></span>
    <span class="date">Posted: {{postedDate}}</span>
  </div><br>
    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-ride="carousel">
      <div class="carousel-inner" >
        <div *ngFor="let image of image_urls; let k = index" [ngClass]="k == 0 ? 'carousel-item active' : 'carousel-item'">
          <div class="centerPost" >
            <img class="postImage" src={{image.url}} alt="">
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="false"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <p class="card-text">{{text}}</p>
    <span>Likes: {{likes}}</span> <br/>
    <button (click)="toggleLike()" class="btn btn-secondary">{{likeButtonText}}</button>
    <!-- <button (click)="toggleComments()" class="btn btn-info">Comments</button> -->
    <button (click)="displayComment()" class="btn btn-info">Comments</button>
  </div>

  <!--This is the comment portion-->
  <div id='comment1' class='card-body border-top border-dark' style='background-color: bisque' *ngIf='showComment'>
    <h6 class='card-subtitle mb-2 text-muted'>Enter Comment</h6>
    <textarea class="form-control" rows='3' maxlength="255" [(ngModel)]="commentText" placeholder="Max 255 characters"></textarea>

    <input style='display: none' type='file' #findFile
      class='form-control-file'(change)='onFileChanged($event)'/>
    <button class='btn btn-info' id='uploadButton' (click)='findFile.click()'>upload</button>

    <button class='btn btn-success' id='postButton' (click)='addComment()'>Post</button>

    <div class='card-body border-bottom border-dark'></div>

    <div class='' *ngFor = 'let temp of comments; let i = index'>
      <div *ngIf='i < limit'>
          <span class='card-title'>Owner: {{temp.user.fname + " " + temp.user.lname}}</span>
          <div *ngIf="isCurrentUser(temp.user.email)" >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="deleteComment(temp)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <br/>
          <div class='card-body' style='background-color: aliceblue'>
            {{temp.text}}
          </div>
      </div>
    </div>

    <div class='card-body border-top border-dark'>
      <button class='btn btn-secondary offset-3' id='loadMoreButton' (click)='incrementLimit()'>Load More</button>
    </div>

  </div>

</div>
