.card {
    max-width: 45rem;
    height: auto;
    margin-bottom: 10px;
}

.btn {
    width:48%;
    margin:0.5%;
}


.btn:hover {
    background-color: #a8a8a8;
}

img {
    height: 300px;
    width: auto;
    border: 1px black;
}

.centerPost {
    display: flex;
    justify-content: center;
    background-color: #cfcfcf;
}

.sr-only {
    height: 100px !important;
}

.date {
    float: right;
}

.name {
    cursor: pointer !important;
    font-weight: 700;
    float: left;
}

.postHeader {
    clear: both;
}

.class {
    width: 100%;
    margin: 0 auto;
}
