/.metadata/

/Servers/
/Project2/target/m2e-wtp/web-resources/META-INF/maven/com.projectTwo/Project2/pom.properties
/Project2/.classpath
/Project2/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/Project2/.classpath
/.recommenders/
/RemoteSystemsTempFiles/

# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea
/.recommenders/
