<div class="card">
  <div *ngIf="!success" class="alert alert-danger">
    Error. Please try again.
  </div>
  <div class="card-header text-white bg-primary" style="padding-bottom: 0px">
    <h5>
      <b>Register</b>
    </h5>
  </div>
  <div class="card-body">
    <form class='form-group' name='registerForm' id='registerForm'>
      <div class='form-label-group'>
        <input type='text' name='firstname' id='fname' class='form-control' [(ngModel)]='firstname'
          placeholder='first name' required #fname='ngModel' autofocus/>
        <label for='fname'>First Name</label>
        <div *ngIf='fname.invalid && (fname.dirty || fname.touched)' class='alert alert-danger'>
          <div *ngIf='fname.errors.required'>
            First name is required.
          </div>
        </div>
      </div>

      <div class='form-label-group'>
        <input type='text' name='lastname' id='lname' class='form-control' [(ngModel)]='lastname'
          placeholder='first name' required #lname='ngModel' />
        <label for='lname'>Last Name</label>
        <div *ngIf='lname.invalid && (lname.dirty || lname.touched)' class='alert alert-danger'>
          <div *ngIf='lname.errors.required'>
            Last name is required.
          </div>
        </div>
      </div>

      <div class='form-label-group'>
        <input type='email' name='email' id='email' class='form-control' [(ngModel)]='email'
          placeholder='email' required #userEmail='ngModel' />
        <label for='email'>Email</label>
        <div *ngIf='userEmail.invalid && (userEmail.dirty || userEmail.touched)' class='alert alert-danger'>
          <div *ngIf='userEmail.errors.required'>
            Email is required.
          </div>
        </div>
      </div>

      <div class='form-label-group'>
        <input type='password' name='password' id='password' class='form-control' [(ngModel)]='password'
          placeholder='password' required #userPassword='ngModel' />
        <label for='password'>Password</label>
        <div *ngIf='userPassword.invalid && (userPassword.dirty || userPassword.touched)'
          class='alert alert-danger'>
          <div *ngIf='userPassword.errors.required'>
            Password is required.
          </div>
        </div>
      </div>

      <div class='form-label-group'>
        <input style='display: none' type='file' #findFile class='form-control-file' (change)='onFileChanged($event)'
          accept="image/*" />
        <span class='col-sm-1'>
          <span class='font-weight-bold'>Upload Profile Pic:</span>&nbsp;
          <button class='btn btn-primary' id='findButton' (click)='findFile.click()'>Find File</button>
        </span>
        <img class="img-fluid" *ngIf="!!picDataUrl" [src]="picDataUrl" style="padding-top: 10px;"
        />
      </div>

      <button *ngIf="!loading" class='btn btn-lg btn-primary btn-block' id='registerButton'
        (click)='createAccount()'>Register</button>

      <div *ngIf="loading" class="loader"></div>

    </form>
  </div>
</div>