<div class="card">
  <div class="card-header">Login</div>
  <div class="card-body">
    <form class="form-signin" (ngSubmit)="submit()">
      <div class="form-label-group">
        <input type="email" id="email" class="form-control" placeholder="Email address" required
          autofocus [(ngModel)]="email" name="email" [ngClass]="{'is-invalid': failed}"
          (change)="changed()">
        <label [ngStyle]="labelStyles" for="email">Email address</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="password" class="form-control" placeholder="Password"
          required [(ngModel)]="password" name="password" [ngClass]="{'is-invalid': failed}"
          (change)="changed()">
        <label [ngStyle]="labelStyles" for="password">Password</label>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
    <div class="text-center">
      Don't have an account?
      <a routerLink="/register">register</a>
    </div>
  </div>
</div>