<div class='form-group' id='profileTable' style='background-color: cadetblue'>
  <div class='text-center'>
    <img src={{profile_pic}} class='rounded-circle' style='border: 2px solid black' width="205" height="200"/>
  </div>
  <br/>
  <div class='form-label-group'>
    <input type='text' id='fname' class='form-control' placeholder='first name' required autofocus/>
      <label for='fname'>First Name: {{fname}}</label>
  </div>
  <div class='form-label-group'>
      <input type='text' id='lname' class='form-control'
          placeholder='first name' required autofocus/>
            <label for='lname'>Last Name: {{lname}}</label>
  </div>
  <div class='form-label-group'>
      <input type='email' id='email' class='form-control'
          placeholder='email' required autofocus/>
            <label for='email'>Email: {{email}}</label>
  </div>
</div>
