<div #resetForm class='form-group' id='resetForm'>
  <h1 class="text-center h3 mb-3 font-weight-bold">Reset Password</h1>
  <br/>
  <!-- [(ngModel)]='inputEmail' -->
  <div class='form-label-group text-center'>
      <input type='email' id='email' name='email' class='form-control' placeholder='email'
        required autofocus [(ngModel)]='inputEmail'/><label for='email'>Enter Email</label>
  </div>
  <div class='form-label-group'>
      <button class='btn btn-lg btn-primary btn-block' id='resetButton' (click)='resetPassword()'>Reset</button>
  </div>
</div>
