<div class="card">
  <div class="card-header text-white bg-primary" style="padding-bottom: 0px">
    <h5>
      <b>Reset Password</b>
    </h5>
  </div>
  <div class="text-center" *ngIf='displayMessage'>
    <p id='alertBox' style='color: red'>Reset Password Unsucessful! You probably don't have a valid account here.</p>
  </div>
  <div class="card-body">
    <div #resetForm class='form-group' id='resetForm'>
      <div class='form-label-group text-center'>
        <input type='email' id='email' name='email' class='form-control' placeholder='email'
          required autofocus [(ngModel)]='inputEmail'/>
        <label for='email'>Enter Email</label>
      </div>
      <div class='form-label-group'>
        <button class='btn btn-lg btn-primary btn-block' id='resetButton' (click)='resetPassword()'>Reset</button>
      </div>
    </div>
  </div>
</div>
