.card {
    max-width: 35rem;
    height: 28.31vh;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.card-body {
    padding-left: 5px;
    padding-right: 5px;
}

.two {
    max-width: 40rem;
    height: 50vh;
    margin-bottom: 5px;
}

#post {
    resize: none;
}
#form-signin {
    margin-bottom: 10px;
}
virtual-scroll {
    display: block;
    width: 100%;
    height: 100%;
}
   
app-post {
    display: block;
    width: 100%;
}

.total-padding {
    height: 1000px;
}
::-webkit-scrollbar { 
    display: none; 
}
