<button type="button" id='openModal' #openModal class="btn btn-primary" [hidden]="true" data-toggle="modal"
    data-target='#exampleModalCenter'>
  </button>

<div class="container card border-light">
  <div class='card-header'>
  <form id="form-signin" class="form-signin" (ngSubmit)="submit()">
      <div class="form-label-group">
          <textarea id="post" class="form-control" required [(ngModel)]="post"
            name="post" placeholder="Create post"></textarea>
      </div><br/>
      <div class='form-label-group'>
        <input style='display: none' type='file' #findFile class='form-control-file' (change)='onFileChanged($event)'
          accept="image/*" />
        <span class='col-sm-1' style="float: left;max-width: 100%;">
          <span class='font-weight-bold'>Upload Pic: </span>
          <button type="button" class='btn btn-primary' id='findButton' (click)='findFile.click()'>Find File</button>
        </span>
        <img class="img-fluid post-image" *ngFor="let url of picDataUrl" [src]="url" style="padding-top: 10px;"
        />
      </div>
      <button class="post-submit-btn btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
  </div>
  <div class="card-body">
    <virtual-scroll [items]="userPosts" [bufferAmount]="5" [childHeight]="85"
        (update)="viewPortItems = $event">
      <app-post *ngFor="let userPost of viewPortItems" [userPost]="userPost">
      </app-post>
    </virtual-scroll>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="false"id='exampleModalCenter'>
  <div class="modal-dialog modal-lg modal-dialog-centered" role='document'>
    <div class="modal-content">
      <div class="modal-header bg-primary">
<!--         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class='text-center'>
        <h1>Welcome My Friend!</h1>
      </div>
      <div class="modal-body">
        <div class='card two border-light bg-info offset-1'>
          <div class='card-body text-center'>
            <img src='assets/logo1-2.png' width='280px' height='290px'/>
            <img src='assets/gao_sharpen.png' class='rounded-circle' width='190px' height='280px'
              style='border: 2px solid black'/>
          </div>
        </div>
      </div>
      <div class='text-center'>
          <h3>Let our friendship be chained forever.</h3>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
