<div class="container card">
  <div class="card-body">
    <form id="form-signin" class="form-signin" (ngSubmit)="submit()">
      <div class="form-label-group">
          <textarea id="post" class="form-control" required [(ngModel)]="post" name="post"></textarea>
      </div>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    </form>
    <virtual-scroll [items]="userPosts" [bufferAmount]="5" [childHeight]="85"
        (update)="viewPortItems = $event">
      <app-post *ngFor="let userPost of viewPortItems" [userPost]="userPost">
      </app-post>
    </virtual-scroll>

  </div>
</div>